@font-face {
  font-family: "Merriweather";
  src: url("../fonts/Merriweather-Light.eot") format("embedded-opentype"), url("../fonts/Merriweather-Light.woff") format("woff"), url("../fonts/Merriweather-Light.ttf") format("truetype"), url("../fonts/Merriweather-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Merriweather";
  src: url("../fonts/Merriweather-LightItalic.eot") format("embedded-opentype"), url("../fonts/Merriweather-LightItalic.woff") format("woff"), url("../fonts/Merriweather-LightItalict.ttf") format("truetype"), url("../fonts/Merriweather-LightItalic.svg") format("svg");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Merriweather";
  src: url("../fonts/Merriweather-Regular.eot") format("embedded-opentype"), url("../fonts/Merriweather-Regular.woff") format("woff"), url("../fonts/Merriweather-Regular.ttf") format("truetype"), url("../fonts/Merriweather-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Merriweather";
  src: url("../fonts/Merriweather-Italic.eot") format("embedded-opentype"), url("../fonts/Merriweather-Italic.woff") format("woff"), url("../fonts/Merriweather-Italic.ttf") format("truetype"), url("../fonts/Merriweather-Italic.svg") format("svg");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Merriweather";
  src: url("../fonts/Merriweather-Bold.eot") format("embedded-opentype"), url("../fonts/Merriweather-Bold.woff") format("woff"), url("../fonts/Merriweather-Bold.ttf") format("truetype"), url("../fonts/Merriweather-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Merriweather";
  src: url("../fonts/Merriweather-Bold-Italic.eot") format("embedded-opentype"), url("../fonts/Merriweather-Bold-Italic.woff") format("woff"), url("../fonts/Merriweather-Bold-Italic.ttf") format("truetype"), url("../fonts/Merriweather-Bold-Italic.svg") format("svg");
  font-weight: 700;
  font-style: italic;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
body {
  min-width: 1160px;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: "Merriweather", "Goudy Old Style", "Times New Roman";
  font-size: 12px;
  line-height: 1.5;
  font-weight: 300;
  color: #3c3c3c;
  text-transform: none;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
img {
  width: 100%;
  height: auto;
}
.centering-container {
  width: 1160px;
  margin: 0 auto;
}
.section-title {
  position: relative;
  padding-top: 40px;
  padding-bottom: 68px;
  text-align: center;
  font-family: "Merriweather", "Goudy Old Style", "Times New Roman";
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5;
  color: #3c3c3c;
}
.section-title::after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: calc(50% - 99px);
  width: 190px;
  height: 25px;
  background: url("../img/title-decoration.png") no-repeat center;
}
.cite-navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 420px;
  min-height: 52px;
  margin: 0;
  padding-left: 0;
  list-style: none;
}
.cite-navigation__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
}
.cite-navigation__link {
  display: inline-block;
  padding: 10px 15px;
  border: 1px solid transparent;
  font-size: 14px;
  text-decoration: none;
  color: #3c3c3c;
  cursor: pointer;
}
/*.cite-navigation__link:hover,
.cite-navigation__link:active {
  border: 1px solid @main-font-color;
}*/
.cite-navigation__link--active {
  border: 1px solid #3c3c3c;
}
.contact {
  background-color: #eeefef;
  background-image: url("../img/footer_back_img_075.jpg"), -webkit-gradient(linear, left top, right top, from(#c3c3c3), to(#f1f1f3));
  background-image: url("../img/footer_back_img_075.jpg"), linear-gradient(to right, #c3c3c3, #f1f1f3);
  background-repeat: no-repeat;
  background-position: center, center;
  background-size: 1425px auto, 100%;
  max-height: 723px;
}
.contact__header {
  margin: 0;
  max-width: 460px;
  margin-left: auto;
  padding-top: 40px;
  padding-bottom: 68px;
}
.contact__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 445px;
  margin-left: auto;
  margin-bottom: 70px;
}
.contact__item {
  -ms-flex-preferred-size: 175px;
      flex-basis: 175px;
}
.contact__item-header {
  margin: 0;
  padding-bottom: 4px;
  padding-top: 14px;
  text-transform: uppercase;
  font-weight: 300;
}
.contact__item-content a {
  text-decoration: none;
  color: #3c3c3c;
}
.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 445px;
  margin-left: auto;
  padding-bottom: 143px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Merriweather", "Goudy Old Style", "Times New Roman";
  font-weight: 300;
  font-style: normal;
  color: #3c3c3c;
}
.contact__form-header {
  width: 100%;
  margin: 0;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-weight: 300;
}
.contact__form-input {
  min-width: 190px;
  margin-bottom: 45px;
}
.contact__form input[type="text"],
.contact__form input[type="email"] {
  width: 100%;
  border: none;
  padding: 5px 10px;
  border-bottom: 1px solid #3c3c3c;
  background-color: transparent;
}
.contact__form textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #3c3c3c;
  background: transparent;
  resize: none;
}
.contact__form-message {
  width: 100%;
  margin-bottom: 35px;
}
.contact__form-send {
  margin: auto;
  background-color: transparent;
  border-color: #3c3c3c;
  padding: 10px 15px;
  font-size: 14px;
}
.contact__form input::-webkit-input-placeholder {
  font-style: italic;
  font-size: 14px;
  color: #3c3c3c;
}
.contact__form input:-ms-input-placeholder {
  font-style: italic;
  font-size: 14px;
  color: #3c3c3c;
}
.contact__form input::-ms-input-placeholder {
  font-style: italic;
  font-size: 14px;
  color: #3c3c3c;
}
.contact__form input::placeholder {
  font-style: italic;
  font-size: 14px;
  color: #3c3c3c;
}
.contact__form textarea::-webkit-input-placeholder {
  font-style: italic;
  font-size: 14px;
  color: #3c3c3c;
}
.contact__form textarea:-ms-input-placeholder {
  font-style: italic;
  font-size: 14px;
  color: #3c3c3c;
}
.contact__form textarea::-ms-input-placeholder {
  font-style: italic;
  font-size: 14px;
  color: #3c3c3c;
}
.contact__form textarea::placeholder {
  font-style: italic;
  font-size: 14px;
  color: #3c3c3c;
}
.contact__form button {
  padding: 10px 20px;
  font-size: 14px;
  color: #3c3c3c;
  cursor: pointer;
}
.contact__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 25px;
}
.contact__social-item {
  width: 37px;
  height: 37px;
  border: 1px solid #3c3c3c;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
}
.contact__social-item--facebook {
  margin-left: auto;
  margin-right: 10px;
  background-image: url("../img/facebook_icon.png");
  background-size: 20px auto;
  background-position: center;
}
.contact__social-item--instagram {
  margin-right: 22px;
  background-image: url("../img/instagram_icon.png");
  background-size: 18px auto;
  background-position: 50% 55%;
}
.main-header {
  min-height: 723px;
  background-color: #eeefef;
  background-image: url("../img/cover_back_img_075.jpg"), -webkit-gradient(linear, left top, right top, from(#c3c3c3), to(#f1f1f3));
  background-image: url("../img/cover_back_img_075.jpg"), linear-gradient(to right, #c3c3c3, #f1f1f3);
  background-size: 1425px auto, 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.main-header__title {
  padding-top: 215px;
  max-width: 460px;
  margin: 0;
  margin-left: auto;
}
.main-header__navigation-container {
  width: 100%;
  background-color: transparent;
  -webkit-transition: z-index 3s ease-in-out, background-color 3s ease-in-out;
  transition: z-index 3s ease-in-out, background-color 3s ease-in-out;
}
.main-header__navigation {
  padding-top: 38px;
}
.main-header__navigation ul {
  margin-left: auto;
}
.main-header__navigation-container--active {
  position: fixed;
  top: 0;
  background-color: rgba(195, 195, 195, 0.6);
  z-index: 100;
}
.main-header__navigation-container--active .main-header__navigation {
  padding-top: 20px;
  padding-bottom: 10px;
}
.menu {
  background-color: #ffffff;
}
.menu__header {
  margin: 0;
  padding-top: 43px;
  padding-bottom: 76px;
}
.menu__header::after {
  bottom: 42px;
}
.menu__container {
  padding-bottom: 47px;
}
.menu__categories {
  margin-left: auto;
  padding-bottom: 32px;
}
.menu__categories ul {
  margin: auto;
}
.menu__categories-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.menu__categories-item {
  display: inline-block;
}
.menu__categories-link {
  text-decoration: none;
  font-size: 14px;
  font-family: "Merriweather", "Goudy Old Style", "Times New Roman";
  font-weight: 400;
  color: #3c3c3c;
}
.menu__table {
  margin: 0 auto;
  padding-bottom: 48px;
}
.menu__item {
  height: 60px;
  width: 500px;
}
.menu__item--center {
  width: 140px;
}
.menu__item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  font-family: "Merriweather", "Goudy Old Style", "Times New Roman";
  font-size: 14px;
  font-weight: 300;
  color: #3c3c3c;
  text-transform: uppercase;
}
.menu__item-header-text {
  white-space: pre;
}
.menu__item-dotted-line {
  width: 100%;
  border-bottom: 1px dotted #3c3c3c;
}
.menu__item-info {
  font-family: "Merriweather", "Goudy Old Style", "Times New Roman";
  font-size: 12px;
  font-style: italic;
  font-weight: 300;
  color: #3c3c3c;
}
.offers {
  background-color: #face12;
  background-image: url("../img/offers_pattern.png");
  background-repeat: repeat;
  background-position: center;
}
.offers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 1160px;
}
.offers__item {
  -ms-flex-preferred-size: 285px;
      flex-basis: 285px;
  padding-top: 134px;
  text-align: center;
}
.offers__item--greens {
  background: url("../img/noodle_075.png") no-repeat center 53px;
}
.offers__item--water {
  background: url("../img/tea_075.png") no-repeat center 53px;
}
.offers__item--social {
  background: url("../img/sweet_075.png") no-repeat center 53px;
}
.offers__item-header {
  margin: 0;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Merriweather", "Goudy Old Style", "Times New Roman";
  font-weight: bold;
  font-style: normal;
}
.offers__item-text {
  margin: 0;
  padding-top: 16px;
  padding-bottom: 68px;
}
.specials {
  background-color: #ffffff;
}
.specials__header {
  margin: 0;
  padding-top: 50px;
  padding-bottom: 80px;
}
.specials__header::after {
  bottom: 42px;
}
.specials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 78px;
}
.specials__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f8f8f8;
}
.specials__item-header {
  margin: 0;
  position: relative;
}
.specials__item-header::after {
  content: "";
  position: absolute;
  top: 28px;
  left: 60px;
  width: 66px;
  height: 1px;
  background: -webkit-gradient(linear, left top, left bottom, from(#3c3c3c), to(#3c3c3c));
  background: linear-gradient(#3c3c3c, #3c3c3c);
}
.specials__item-text {
  width: 186px;
  text-align: center;
  padding-top: 48px;
  padding-bottom: 35px;
}
.specials__item-info {
  margin: 0;
  padding-top: 17px;
  padding-bottom: 10px;
}
.specials__item-img-container {
  width: 186px;
  height: 186px;
  overflow: hidden;
}
.specials__item img {
  width: auto;
  height: 100%;
}
.specials__item-img {
  -o-object-fit: none;
     object-fit: none;
  -o-object-position: center left;
     object-position: center left;
}
.specials__list article:first-child img,
.specials__list article:nth-child(4) img,
.specials__list article:last-child img {
  -o-object-position: -30px center;
     object-position: -30px center;
}
.specials__item-img-container--even-row {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}
.specials__item-img-container--odd-row {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.about {
  background-color: #eeefef;
  background-image: url("../img/about_us_075.png"), -webkit-gradient(linear, left top, right top, from(#c3c3c3), to(#f1f1f3));
  background-image: url("../img/about_us_075.png"), linear-gradient(to right, #c3c3c3, #f1f1f3);
  background-size: 738px auto, 100%;
  background-position: calc(50% + 369px) 64px, center;
  background-repeat: no-repeat;
}
.about__header {
  max-width: 490px;
  margin: 0;
  padding-top: 176px;
}
.about__header::after {
  bottom: 26px;
}
.about__quote {
  position: relative;
  max-width: 490px;
  margin: 0;
  margin-right: auto;
  padding-bottom: 270px;
  font-size: 22px;
  font-family: "Merriweather", "Goudy Old Style", "Times New Roman";
  text-align: center;
  font-weight: 300;
  line-height: 1.9;
}
.about__quote::after {
  content: "";
  position: absolute;
  width: 160px;
  height: 108px;
  right: 23px;
  bottom: 123px;
  background: url("../img/signature_075.png") no-repeat center;
}
