.main-header {
  background-color: @header-color;
}

.main-header__title {
  max-width: 460px;
  margin: 0;
  margin-left: auto;
  padding-top: 168px;
  padding-bottom: 330px;
}

.main-header__navigation {
  padding-top: 50px;
}
