.section-title {
  text-align: center;
  font-family: @main-font, @web-safe-font, @web-safe-default-font;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5;
  color: @main-font-color;
}
